In [580]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [581]:
employee = pd.read_csv('employees.csv')
# employee.head(20)

### Change Genders and Maritial Status Accordingly

In [582]:
# If the Gender is Male, Change title to Mr
employee.loc[employee['Gender'] == 'Male', ['Title']] = 'Mr'

In [583]:

# If the Gender is Female, and Status is Single, Change title to Miss
employee.loc[(employee['Gender'] == 'Female') & (employee['Marital_Status'] == 'Single'), 'Title'] = 'Miss'

In [584]:
# If the Gender is Female, and Status is Married, Change title to Miss
employee.loc[(employee['Gender'] == 'Female') & (employee['Marital_Status'] == 'Married'), 'Title'] = 'Ms'

In [241]:

# # If name contains Ms, Change gender to Female and title to Ms
# employee.loc[employee['Name'].str.contains('Ms '), ['Title','Gender']] = ['Ms','Female']

In [242]:

# # If name contains Miss, Change gender to Female and title to Miss
# employee.loc[employee['Name'].str.contains('Miss '), ['Title','Gender']] = ['Miss','Female']

In [243]:

# # First two are Females and Last one is a Male
# employee.loc[employee['Employee_No'].isin([551,601]), ['Title']] = 'Ms'

In [244]:

# employee.loc[employee['Employee_No']== 2369 , ['Gender']] = 'Male'

In [245]:

# employee.loc[employee['Employee_No'].isin([1886,2509]), ['Title']] = 'Mr'

In [246]:

# employee.loc[(employee['Title'] == 'Ms') & (employee['Gender'] == 'Male'),['Gender']]='Female'

In [247]:

# employee.loc[(employee['Title'].isin(['Ms','Mrs','Miss'])) & (employee['Gender'] == 'Male'), ['Gender']] = 'Female'

In [371]:
# employee.tail(20)

### Some Extra works

In [585]:
employee.loc[employee['Year_of_Birth'] == "'0000'"]
employee.loc[employee['Year_of_Birth'] == "'0000'", 'Year_of_Birth'] = '0000'

In [586]:
employee['Date_Joined'] = pd.to_datetime(employee['Date_Joined'])

In [251]:
# employee.loc[employee['Year_of_Birth']=='0000']

,Employee_No,Employee_Code,Name,Title,Gender,Religion_ID,Marital_Status,Designation_ID,Date_Joined,Date_Resigned,Status,Inactive_Date,Reporting_emp_1,Reporting_emp_2,Employment_Category,Employment_Type,Religion,Designation,Year_of_Birth
40,405,2034,Scottie Ratke,Mr,Male,1,NaN,27,2014-06-09,0000-00-00,Inactive,12/5/2019,\N,\N,Staff,Contarct Basis,Buddhist,Supervisor,0000
44,411,2301,Jesus Dietrich Sr,Mr,Male,1,Married,24,2015-04-28,0000-00-00,Active,0000-00-00,\N,\N,Staff,Contarct Basis,Buddhist,Driver,0000
73,455,2975,Madisyn Huel,Mr,Male,3,Single,49,2017-03-27,2/19/2022,Inactive,2/19/2022,1333,\N,Staff,Contarct Basis,Hindu,Junior Technical Officer,0000
74,456,2984,Aurelie Green,Mr,Male,1,Married,30,2019-01-01,0000-00-00,Inactive,3/31/2020,\N,\N,Labour,Contarct Basis,Buddhist,Semi Skilled Labor,0000
77,461,3009,Miss Chelsie Heidenreich,Mr,Male,1,Married,1,2019-01-01,0000-00-00,Inactive,6/1/2021,\N,\N,Labour,Contarct Basis,Buddhist,Skilled Labor,0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
978,2615,1935042,Marge Kemmer,Mr,Male,1,Single,31,2022-05-25,0000-00-00,Active,0000-00-00,\N,\N,Labour,Contarct Basis,Buddhist,Unskilled Labor,0000
979,2616,1935043,Dr Orville Schmidt V,Mr,Male,1,Single,31,2022-05-25,0000-00-00,Active,0000-00-00,\N,\N,Labour,Contarct Basis,Buddhist,Unskilled Labor,0000
980,2617,1935044,Maverick Doyle DVM,Mr,Male,1,Single,31,2022-05-25,\N,Active,\N,\N,\N,Labour,Contarct Basis,Buddhist,Unskilled Labor,0000
981,2637,193215,Troy Beier,Mr,Male,1,Married,24,2022-06-20,\N,Active,\N,\N,\N,Labour,Contarct Basis,Buddhist,Driver,0000
985,2705,193219,Jordon Hickle I,Mr,Male,1,Married,31,2022-08-29,0000-00-00,Active,0000-00-00,\N,\N,Labour,Contarct Basis,Buddhist,Unskilled Labor,0000

In [587]:
employee_copy = employee.copy()

In [588]:
# Extract the year from the 'Date_Joined' column
employee['Joining_Year'] = employee['Date_Joined'].dt.year # Extract the year from the 'Date_Joined' column

In [376]:
# employee.isna().sum()

In [128]:
# # drop rows where year of birth is 0000
# employee = employee[employee['Year_of_Birth'] != '0000']

In [589]:
employee['Year_of_Birth'] = employee['Year_of_Birth'].astype(int)

In [590]:
# set 0000 to NaN in Year_of_Birth
employee.loc[employee['Year_of_Birth'] == 0, 'Year_of_Birth'] = np.nan

In [130]:
# employee.loc[(employee['Date_Resigned'] != '0000-00-00') | (employee['Date_Resigned'] != '\\N'), 'Status'] = 'Inactive'

In [591]:
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()

employee['Gender_temp'] = label_encoder.fit_transform(employee['Gender'].astype(str))
employee['Status_temp'] = label_encoder.fit_transform(employee['Status'].astype(str))
employee['Title_temp'] = label_encoder.fit_transform(employee['Title'].astype(str))

In [592]:
employee['Employment_Category_temp'] = label_encoder.fit_transform(employee['Employment_Category'].astype(str))
employee['Employment_Type_temp'] = label_encoder.fit_transform(employee['Employment_Type'].astype(str))

In [ ]:
#

In [233]:
# # Create a new column called age
# employee['Age'] = 2023 - employee['Year_of_Birth']

In [381]:
# employee.isna().sum()

In [593]:
# employee

In [594]:
employee['Age_at_Joining'] = employee['Joining_Year'] - employee['Year_of_Birth']
employee['Years_of_Service'] = 2023 - employee['Joining_Year']

test_df = employee[pd.isnull(employee['Year_of_Birth'])]
train_df = employee[pd.notnull(employee['Year_of_Birth'])]

In [595]:
train_df = train_df.drop(columns=['Name','Title','Marital_Status','Gender','Date_Resigned','Status','Date_Joined','Inactive_Date','Reporting_emp_1','Reporting_emp_2','Employment_Category','Employment_Type','Religion','Designation'])

test_df = test_df.drop(columns=['Name','Title','Gender','Marital_Status','Date_Resigned','Status','Date_Joined','Inactive_Date','Reporting_emp_1','Reporting_emp_2','Employment_Category','Employment_Type','Religion','Designation'])

In [596]:
# train_df['Age_at_Joining'] = train_df['Joining_Year'] - train_df['Year_of_Birth']
# train_df['Years_of_Service'] = 2023 - train_df['Joining_Year']

# Drop unnecessary columns
train_df.drop(['Joining_Year'], axis=1, inplace=True)

In [497]:
# train_df

,Employee_No,Employee_Code,Religion_ID,Designation_ID,Year_of_Birth,Gender_temp,Status_temp,Title_temp,Employment_Category_temp,Employment_Type_temp,Years_of_Service
0,347,6,1,24,1965.0,1,0,1,2,1,30
1,348,33,1,24,1973.0,1,0,1,2,1,28
2,349,53,1,23,1974.0,1,1,1,2,1,35
3,351,77,4,40,1974.0,0,1,2,2,1,24
4,352,88,1,7,1980.0,1,0,1,2,1,22
...,...,...,...,...,...,...,...,...,...,...,...
992,2836,5434,1,17,1993.0,0,1,0,2,0,1
993,2890,5479,1,8,1994.0,1,0,1,2,0,1
994,2972,5480,1,201,1997.0,1,0,1,2,0,1
995,2973,5481,1,8,1990.0,1,0,1,2,0,1
996,3041,5482,1,104,1979.0,1,0,1,1,0,1

In [597]:
# # test_df['Age_at_Joining'] = test_df['Joining_Year'] - test_df['Year_of_Birth']
# test_df['Years_of_Service'] = 2023 - test_df['Joining_Year']

# Drop unnecessary columns
test_df.drop(['Joining_Year'], axis=1, inplace=True)

In [598]:
# import train_test_split
from sklearn.model_selection import train_test_split

# Split the train dataset into train_X, train_y, val_X, val_y
train_X, val_X, train_y, val_y = train_test_split(train_df.drop(columns=['Year_of_Birth']), train_df['Year_of_Birth'], test_size=0.2, random_state=42)

In [599]:
from sklearn.ensemble import RandomForestRegressor

from sklearn.svm import SVC

# # Separate the features and target variables in the train_df
# train_features = train_df.drop(['Year_of_Birth'], axis=1)
# train_target = train_df['Year_of_Birth']

# # Separate the features in the test_df
# test_features = test_df.drop(['Year_of_Birth'], axis=1)

In [600]:

# Initialize the Random Forest regression model
rf_model = RandomForestRegressor()

# Train the model on the train_df
rf_model.fit(train_X, train_y)

RandomForestRegressor()

In [601]:
# train_df.isna().sum()

Employee_No                 0
Employee_Code               0
Religion_ID                 0
Designation_ID              0
Year_of_Birth               0
Gender_temp                 0
Status_temp                 0
Title_temp                  0
Employment_Category_temp    0
Employment_Type_temp        0
Age_at_Joining              0
Years_of_Service            0
dtype: int64

In [602]:
# train svc model
svc_model = SVC()
svc_model.fit(train_X, train_y)

SVC()

In [603]:
# test the accuracy of the model
# rf_model.score(val_X, val_y)

0.9957215288165753

In [604]:
# accuracy of svc model
# svc_model.score(val_X, val_y)

0.05027932960893855

In [605]:
# test_df.isna().sum()

Employee_No                   0
Employee_Code                 0
Religion_ID                   0
Designation_ID                0
Year_of_Birth               103
Gender_temp                   0
Status_temp                   0
Title_temp                    0
Employment_Category_temp      0
Employment_Type_temp          0
Age_at_Joining              103
Years_of_Service              0
dtype: int64

In [606]:
# fill Age_at_Joining with mean
test_df['Age_at_Joining'].fillna(train_df['Age_at_Joining'].mean(), inplace=True)

In [608]:
# test_df.isna().sum()

In [609]:

# Predict the missing values in the test_df using the trained model
imputed_values = rf_model.predict(test_df.drop(columns=['Year_of_Birth']))
# imputed_values

In [610]:


# Update the 'Year_of_Birth' column in the test_df with the imputed values
test_df['Year_of_Birth'] = imputed_values

In [611]:
# Concatenate the train_df and test_df
imp = pd.concat([train_df, test_df], ignore_index=True)

In [612]:
# imp

In [613]:
# convert the 'Year_of_Birth' column to integer type
imp['Year_of_Birth'] = imp['Year_of_Birth'].astype(int)

In [614]:
# imp

In [615]:
employee_copy = employee.copy()

In [616]:
employee = employee_copy.copy()

In [617]:
# replace the 'Year_of_Birth' column in the original employee dataframe with the imputed values based on Employee_No
employee_copy['Year_of_Birth'] = employee_copy['Employee_No'].map(imp.set_index('Employee_No')['Year_of_Birth'])

In [618]:
# employee_copy

In [619]:
# convert date joined to datetime
employee_copy['Date_Joined'] = pd.to_datetime(employee_copy['Date_Joined'])

In [542]:
# employee_copy.isna().sum()

In [620]:
# get age at joining
employee_copy['Age_at_Joining'] = employee_copy['Date_Joined'].dt.year - employee_copy['Year_of_Birth']
employee_copy['Age_at_Joining'] = employee_copy['Age_at_Joining'].astype(int)
# employee_copy['Age_at_Joining'].describe()

In [212]:
# # drop rows where age at joining is less than 18
# employee = employee[employee['Age_at_Joining'] >= 18]

In [621]:
# get date_resigned = "\\N" to 0000-00-00
# employee.loc[employee['Date_Resigned'] == '\\N', 'Date_Resigned'] = '0000-00-00'

In [622]:
# employee['Employment_Type']

In [623]:
# employee_copy

### Data imputations in Marital_Status column

In [624]:
employee_copy_copy = employee.copy()

In [625]:
employee = employee_copy.copy()

In [626]:
from sklearn.ensemble import RandomForestClassifier

In [627]:
# employee.columns

### Imputing Missing Values in year of birth

In [628]:
# employee.columns.to_list()

In [629]:
# employee.isna().sum()

In [630]:
# Assuming 'df' is the DataFrame containing the dataset
test_df = employee[pd.isnull(employee['Marital_Status'])]
train_df = employee[pd.notnull(employee['Marital_Status'])]

In [631]:
train_df = train_df.drop(columns=['Name','Title','Gender','Date_Resigned','Status','Date_Joined','Inactive_Date','Reporting_emp_1','Reporting_emp_2','Employment_Category','Employment_Type','Religion','Designation'])

test_df = test_df.drop(columns=['Name','Title','Gender','Date_Resigned','Status','Date_Joined','Inactive_Date','Reporting_emp_1','Reporting_emp_2','Employment_Category','Employment_Type','Religion','Designation'])

In [632]:
train_df['Marital_Status'] = label_encoder.fit_transform(train_df['Marital_Status'].astype(str))

In [634]:
# train_df

In [635]:
from sklearn.model_selection import train_test_split
X = train_df.drop('Marital_Status', axis=1)
y = train_df['Marital_Status']

X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=42)

In [636]:
model = RandomForestClassifier()
model.fit(X_train, y_train)

RandomForestClassifier()

In [637]:
# use X_val and y_val to evaluate the model
y_pred = model.predict(X_val)

from sklearn.metrics import accuracy_score
# print('Accuracy Score:', accuracy_score(y_val, y_pred))

In [638]:
# test_df['Marital_Status'] = label_encoder.transform(test_df['Marital_Status'].astype(str))
test_df['Marital_Status'] = model.predict(test_df.drop('Marital_Status', axis=1))

In [640]:
# test_df['Marital_Status']

In [641]:
# concat train_df and test_df into employee_after df
employee_after = pd.concat([train_df, test_df], axis=0)

In [642]:
# employee

In [643]:
# employee_after

In [644]:
emmployee_copy_copy = employee.copy()

In [645]:
# replace marital status in employee with marital status in employee_after based on employee_no
employee = pd.merge(employee, employee_after[['Employee_No', 'Marital_Status']], on='Employee_No', how='left')

In [646]:
# employee

In [647]:
emmployee_copy_copy = employee.copy()
# Assuming 'df' is the DataFrame containing the data
dick = {employee.loc[employee['Employee_No'] == 347, 'Marital_Status_y'].values[0]: 'Married', employee.loc[employee['Employee_No'] == 2836, 'Marital_Status_y'].values[0]: 'Single'}
employee['Marital_Status_y'] = employee['Marital_Status_y'].replace(dick)
# employee

In [649]:
# employee.isna().sum()

In [650]:
employee.drop(columns=['Marital_Status_x'], inplace=True)

In [651]:
# rename Marital_Status_y column to Marital_Status
employee = employee.rename(columns={'Marital_Status_y': 'Marital_Status'})

In [652]:
# employee

In [653]:
employee_original = pd.read_csv('employees.csv')

In [654]:
# employee_original

In [655]:
cols = employee_original.columns.to_list()
# cols

In [656]:
employee_cleaned = employee[cols]

In [657]:
# employee_cleaned.isna().sum()

In [658]:
# If the Gender is Female, and Status is Married, Change title to Miss
employee_cleaned.loc[(employee_cleaned['Gender'] == 'Female') & (employee_cleaned['Marital_Status'] == 'Married'), 'Title'] = 'Ms'


# If the Gender is Female, and Status is Single, Change title to Miss
employee_cleaned.loc[(employee_cleaned['Gender'] == 'Female') & (employee_cleaned['Marital_Status'] == 'Single'), 'Title'] = 'Miss'

## Doing too much

In [659]:
# export employee_cleaned as csv

employee_cleaned.to_csv('employee_preprocess_200304N.csv', index=False)